body{
    background-color:skyblue;
}
.name{
    font-size:large;
}
.image{
    border-radius: 50px;
}

.container{
    background-color:plum;
    padding: 10px;
    margin:10px;
    background-image:url("bgbanner.jpg");
    text-align: center;
}


.projects > ol >li{
flex-direction: column;
justify-content: space-evenly;
}
.Projects{
    background-color:plum;

}

.about{
    display:flex;
    justify-content: space-between;
}


#footer{
    background-color: plum;
    color: rgb(100, 57, 20);
    text-align: end;
}