body{
    background-color: rgb(178, 178, 199);
}

.container{
    background-color:palevioletred;
    padding: 10px;
    margin:10px;
    background-image:url("bgbanner.jpg");
    text-align: center;
}

.projects{
    background-color: coral;
}

.projects > ol >li{
flex-direction: column;
}
#image{
display: block;
#image > p{
    flex-wrap: fill: text-shadow: text-shadow: flex-grow: flex-shrink: ;;;;;;
}
}
.Projects{
    background-color:plum;

}

.about{
    display:flex;
}


#footer{
    color: rgb(100, 57, 20);
    text-align: end;
}